<footer>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <img
          src="/assets/img/Volkis_Footer_Icon.svg"
          alt=""
          class="footer-logo"
        />
        <p>Copyright {{"today" | date: "%Y"}} Volkis</p>
        <p class="social-icons">
          <a href="https://twitter.com/volkisau"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://www.linkedin.com/company/volkis/"
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <a href="https://gitlab.com/volkis"
            ><i class="fab fa-gitlab"></i></i
          ></a>
        </p>
      </div>
      <div class="col-md-4 col-sm-6">
        <ul>
          <li><a href="https://www.volkis.com.au/about/">About Volkis</a></li>
          <li><a href="https://www.volkis.com.au/contact/">Get in touch</a></li>
          <li><a href="https://www.volkis.com.au/blog/">Blog</a></li>
        </ul>
        <ul>
          <li>
            <a href="https://www.volkis.com.au/privacy-policy/"
              >Privacy Policy</a
            >
          </li>
          <li>
            <a href="https://www.volkis.com.au/terms-and-conditions/"
              >Terms and Conditions</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6">
        <ul>
          <li>
            <a href="https://www.volkis.com.au/services/">What we do</a>
            <ul class="sub-list">
              <li>
                <a href="https://www.volkis.com.au/penetration-testing/"
                  >Penetration Testing</a
                >
              </li>
              <li><a href="https://www.volkis.com.au/red-team">Red Team</a></li>
              <li>
                <a href="https://www.volkis.com.au/cloud-security-assessment/"
                  >Cloud Security Assessment</a
                >
              </li>
              <li>
                <a href="https://www.volkis.com.au/social-engineering/"
                  >Social Engineering</a
                >
              </li>
              <li>
                <a href="https://www.volkis.com.au/physical-intrustion/"
                  >Physical Intrusion</a
                >
              </li>
              <li>
                <a href="https://www.volkis.com.au/security-review/"
                  >Security Review</a
                >
              </li>
              <li>
                <a href="https://www.volkis.com.au/security-strategy/"
                  >Security Strategy</a
                >
              </li>
              <li>
                <a href="https://www.volkis.com.au/compliance/">Compliance</a>
              </li>
              <li>
                <a href="https://www.volkis.com.au/executive-education/"
                  >Executive Education</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script
    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://kit.fontawesome.com/d4e847355f.js"
    crossorigin="anonymous"
  ></script>

  {% include docsearch.html %}
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/toc.js"></script>
</footer>
