@import 'bootstrap/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');

@import 'mixins';
@import 'nav';
@import 'quick-links';
@import 'docsearch';
@import 'footer';
@import 'error';

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.content {
  flex: 1 0 auto;
}

.no-scroll {
  overflow: hidden;
}

.has-shadow {
  box-shadow: 0 3px 6px rgba($black, 0.16);
}
.highlight {
  color: $contrast;
}
li {
  margin-top: $small-margin;
  margin-bottom: $small-margin;
}

$main-heading-height: 200px;
.main-heading {
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(72, 126, 149, 1) 50%,
    rgba(0, 36, 58, 1) 100%
  );
  color: $white;
  &::before {
    // Pattern background
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('/assets/img/Volkis_Icon_Wire.svg') center repeat;
    opacity: 0.1;
    z-index: 0;
  }
  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    min-height: $main-heading-height/2;
    margin-bottom: 0;
  }
  min-height: $main-heading-height;
  margin-bottom: $std-margin;
  padding: $std-margin $std-margin;
  h1 {
    z-index: 1;
    text-align: center;
  }
}

.breadcrumbs {
  @include contrast-links;
}
.edit-link {
  @include contrast-links;
}
.page-content {
  background-color: $white;
  padding: 0 0;
  .content-info {
    background-color: $grey-800;
    color: $grey-200;
    padding: $large-margin $large-margin;
    margin-bottom: $std-margin;
    input {
      margin-top: $large-margin;
    }
  }
  .content {
    padding: $std-margin $large-margin;
    table {
      width: 100%;
      margin-bottom: $std-margin;
      th,
      td {
        padding: $small-margin;
        border: 1px solid $table-border-colour;
      }
    }
  }
  .heading-anchor {
    font-size: 70%;
    color: $link-color;
    opacity: 0;
    transition: 0.3s;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:hover .heading-anchor {
      opacity: 1;
    }
  }
  img {
    max-width: 100%;
  }
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: $grey-100;
  padding-top: 1rem;
  position: relative;
  p {
    padding-left: 3rem;
    padding-right: 3rem;
    font-style: italic;
  }
  &::before {
    content: '\f10d';
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    width: 3rem;
    height: 2rem;
    color: $grey-200;
    text-align: center;
  }
}
